@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --contrast: #1649B5;
    --accent: #f3f4f6;
    --active: #9ca3af;
    --link: #A68549
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .page-title {
        @apply font-bold text-center text-2xl md:text-3xl -tracking-tight;
    }
    .active-item {
        @apply bg-accent rounded-md;
    }
    .active-hover {
        @apply bg-active transition-colors duration-200 text-background;
    }
    .link {
        @apply text-contrast;
    }
    .link:hover {
        @apply transition-colors duration-200 text-link underline;
    }
}
